# 1) Manipulate using a list:
   1. to add new elemets to end of the list
   2. to reverse elements in the list
   3. to display same list of elements in the list
   4. to concatenate two list
   5. to sort the elements in the list ascending order

In [1]:
ls=[1,2,3,4]
ls

[1, 2, 3, 4]

In [5]:
#1 to add new elemets to end of the list
ls.append(100) #append is used to add single element at end of the list.

#to add multiple elements extend
ls.extend([25,30,200])
print("after added listed elements are",ls)

after added listed elements are [1, 2, 3, 4, 100, 100, 100, 25, 30, 200, 100, 25, 30, 200]

In [9]:
#2 to reverse elements in the list
ls = [1, 2, 3]
ls.reverse()  # Reverses the elements in the list
print("after reverse the elements are",ls)

after reverse the elements are [3, 2, 1]

In [18]:
#3 to display same list of elements in the list
ls= [1,2,3,80,40,50]
print('the elements printed multiple times:',ls)

the elements printed multiple times: [1, 2, 3, 80, 40, 50]

In [14]:
#4 to concatenate two list
ls1= [1, 2, 3]
ls2 = [4, 5, 6]
concatenated_ls = ls1+ls2  # Using the + operator # or
ls.extend(ls2)  # Using the extend() method
print("after concatenation my two list",ls)

after concatenation my two list [1, 2, 3, 4, 5, 4, 5, 6]

In [13]:
#5 to sort the elements in the list ascending order
ls = [3, 1, 2, 5, 4]
ls.sort()  # Sorts the list in ascending order in-place
print("ascending",ls)

ascending [1, 2, 3, 4, 5]

# Python program to do in tuples
   1. Manipulate using tuples 
   2. to add new elemets to end of the tuples
   3. to reverse elements in the list
   4. to display elements of same tuples in different times
   5. to concatenate two tuples
   6. to sort the elements in the tuples ascending order

In [17]:
#1 Manipulate using tuples 
tu=(1,5,6,'xyz',20,50)
tu

(1, 5, 6, 'xyz', 20, 50)

In [11]:
#2 to add new elemets to end of the tuples

tu2=('apple',100)
tu1=(30,'yz',99)
tuple=tu1 + tu2
print('after add a new element:',tuple)

after add a new element: (30, 'yz', 99, 'apple', 100)

In [21]:
#3 to reverse elements in the list
tuple=([30, 'yz', 99, 'apple', 100]) 

tuple.reverse()

print('reverse element:',tuple)

reverse element: [100, 'apple', 99, 'yz', 30]

In [13]:
#5 to concatenate two tuples

tuple1=(30, 'yz', 99, 'apple', 100)
tuple2=(60,44,'blue',2,100)

tuple=tuple1+tuple2
print(tuple)

(30, 'yz', 99, 'apple', 100, 60, 44, 'blue', 2, 100)

In [14]:
#6 to sort the elements in the tuples ascending order

tuple=[5,2,3,1,4]
tuple.sort()
print(tuple)

[1, 2, 3, 4, 5]

In [25]:
#4 to display elements of same tuples in different times

tuple=(30, 'yz', 99, 'apple', 100)*5

print(tuple)

(30, 'yz', 99, 'apple', 100, 30, 'yz', 99, 'apple', 100, 30, 'yz', 99, 'apple', 100, 30, 'yz', 99, 'apple', 100, 30, 'yz', 99, 'apple', 100)

# 3.Write a python program to implement the following using list

In [ ]:
#1) Create a list with integers(min 10 numbers)

lst=[10,22,32,54,64,18,78,2,1,22]

In [31]:
#2) Display list number in the list
lst=[10,22,32,54,64,18,78,2,1,22]
lst[-1:]

[22]

In [32]:
#3 display the value from the list[0:4]
lst=[10,22,32,54,64,18,78,2,1,22]
lst[0:4]

[10, 22, 32, 54]

In [33]:
#4 display the value from the list[2:]

lst=[10,22,32,54,64,18,78,2,1,22]
lst[2:]

[32, 54, 64, 18, 78, 2, 1, 22]

In [34]:
#5 display the value from the list[:6]
lst[:6]

[10, 22, 32, 54, 64, 18]

# 4 . Write a python program:
 
  #tuple1=(10,30,40,60,70)

In [39]:
#1) Display the element 10 and 50 from tuple1

tuple1=(10,30,40,60,70,80)
    
tuple1[0:2]

(10, 30)

In [38]:
#2) display the length of tuple1
tuple1=(10,30,40,60,70,80)

len(tuple1)

5

In [40]:
#3) find minimum element from length of tuple1

tuple1=(10,30,40,60,70,80)
min(tuple1)

10

In [41]:
#4) to add all element in the tuple1

tuple1=(10,30,40,60,70,80)
sum(tuple1)

290

In [47]:
#5) to display the same tuple1 multiple times

tuple1=(10,30,40,60,70,80)

tuple=tuple1 * 10
print(tuple)

(10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80, 10, 30, 40, 60, 70, 80)

# 5. Write python program

In [48]:
#1)to calculate the length of string

string='Hello kowshik'

len(string)

13

In [2]:
#2) reverse word in string

string='Hello kowshik'

string[::-1]

'kihswok olleH'

In [51]:
#3)to display the same string multiple times

str= string * 5

print(str)

Hello kowshikHello kowshikHello kowshikHello kowshikHello kowshik

In [52]:
#4)to concatenate two strings

str1='i am kowshik'
a=string +" "+str1
print(a)

Hello kowshik i am kowshik

In [53]:
#5) str1="South India",using string slicing to display"India"

str1='South India'
str1[6:11]

'India'

# 6) Perform the following

In [3]:
#1)Creating the dictionary

dictionary={'name':'kowshik','age':23,'place':'neyveli'}

print("dictionary:",dictionary)

dictionary: {'name': 'kowshik', 'age': 23, 'place': 'neyveli'}

In [4]:
#2)accesing values and keys in dictionary

dictionary.values()

dict_values(['kowshik', 23, 'neyveli'])

In [6]:
dictionary.keys()

dict_keys(['name', 'age', 'place'])

In [8]:
#3) updating the dictionary using a function

dictionary.update({'name':'Kowshik'})
print(dictionary)

{'name': 'Kowshik', 'age': 23, 'place': 'neyveli'}

In [9]:
#4) clear and delete the dictionary values

dictionary.clear() 
 
print(dictionary)

{}

# 7) python program to insert a number to any position in a list

In [17]:
list = ['1','2', '8','14','50']
list.insert(0, '10')
print(list)

['10', '1', '2', '8', '14', '50']

# 8) python program to delete an element  from a list to index

In [18]:
list = [14, 6, 8, 7, 6, 9, 2, 1, 10, 18]

del list[5]

print(list)

[14, 6, 8, 7, 6, 2, 1, 10, 18]

# 9)write a program to display a number from 1 to 100

In [20]:
i = 1
while i <= 100:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10) Write a python program to find sum of all items in tuple

In [23]:
tuple = (10, 20, 30, 80, 7)

result = sum(tuple)
print(result)

147

In [ ]:
#12) A list of words given.Find the words from the list that have their second character in upper case

In [29]:
ls=['hello','Dear','hOw','ARe','You']
list=[]
for word in ls:
    if len(word)>=3 and word[1].isupper():
        list.append(word)
print(list)

['hOw', 'ARe']

# ii) CONTROL STRUCTURES

In [ ]:
#1)Write a python program to find N prime number



num = int(input("Enter a number: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            
            flag = True
        
            break

    
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")